<section class="container">
	<div class="row ">
		<div id="contenedor" class="  overflow-auto">
			<div id="principal" class="col-md-6 px-0">
				<h1 class="display-3 pt-5 ps-3 fw-bold">AppArve</h1>
					<p id="texto" class="ps-3 fw-light pt-2 pb-5 fs-5">
					Con <strong>AppArve</strong> puede almacenar, descargar cualquiertipo de archivo, marcar sus favortios para tener un rapido acceso a ellos. 
				</p>
			</div>
		</div>
		<div class="container">
			<div id="contenedor-dos" class="container overflow-auto mt-5">
				<app-proyects></app-proyects>
			</div>

				<div class="row ">
						<div class="">
							<div class="row ">
								<div class="mt-5 col">
									<h3 class="titulo"><strong>From the Firehose </strong> </h3>
									<hr>
									<div class="container ">
										<h4 class="titulo">TITULO</h4>
										<p>Praesent interdum vehicula elit vel aliquam. Nam et hendrerit arcu. Curabitur condimentum eget orci in porta.</p>
									</div>
									<div class="container">
										<h4 class="titulo">TITULO</h4>
										<time>enero 5, 2021 by <span>Jeisson</span></time>
										<p>Praesent interdum vehicula elit vel aliquam. Nam et hendrerit arcu. Curabitur condimentum eget orci in porta.</p>
										<hr>
										<p>
											In gravida at quam sed vulputate. Maecenas varius non neque quis pretium. Vestibulum gravida arcu sem, sed consectetur eros pretium tincidunt. Suspendisse lobortis iaculis justo quis imperdiet. Quisque pulvinar scelerisque sagittis. <strong> Nulla facilisi.</strong> Praesent aliquet ligula et luctus sagittis.
										</p>
										<h4 class="titulo">SUBTITULO</h4>
										<P>
											Ut ut lacus id enim interdum ultrices vel non sapien. Morbi condimentum, purus ut eleifend accumsan, ex mi tempor ex, nec laoreet massa urna eu nibh. Integer vitae mattis felis. Etiam ultrices, orci eu bibendum hendrerit, arcu felis tempor quam, et fringilla<strong> enim erat </strong> id ante. Donec id ipsum ac sem gravida accumsan non eget elit. Donec ac efficitur tortor. Etiam vitae mi sapien. Vestibulum eget arcu tortor.
										</P>
										<h4 class="titulo">SUBTITULO</h4>
										<P>
											Ut ut lacus id enim interdum ultrices vel non sapien. Morbi condimentum, purus ut eleifend accumsan, ex mi tempor ex, nec laoreet massa urna eu nibh. Integer vitae mattis felis. Etiam ultrices, orci eu bibendum hendrerit, arcu felis tempor quam, et fringilla<strong> enim erat </strong> id ante. Donec id ipsum ac sem gravida accumsan non eget elit. Donec ac efficitur tortor. Etiam vitae mi sapien. Vestibulum eget arcu tortor.
										</P>
									</div>
								</div>
								<div class="col-3 mt-5  ">
									<div id="contenedor-dos" class="bg-light pt-4 ps-4 float-right">
										<h3 class="titulo">About</h3>
										<p>In gravida at quam. <i> Maecenas varius non neque quis pretium.</i> Vestibulum gravida arcu sem, sed consectetur eros pretium tincidunt.</p>
										
									</div>
									<div >
										<div class="container">
											<h2 class="titulo text-capitalize fs-3 mt-5" >archive</h2>
											<p>
												n gravida at quam.  Maecenas varius non neque quis pretium
											</p>
										</div>
										<div class="container">
											<h2 class="titulo text-capitalize mt-5 fs-3" >networks</h2>
											<p>
												<app-contact></app-contact>
											</p>
										</div>
								</div>
								</div>
							</div>

						</div>
			</div>
		</div>

	</div>
</section>

