
<section class="container ">
	
		<div id="principal" class="container  input-group input-group-lg bg-light mt-5 border mb-5">
			<h1 class="ms-4">{{title}}</h1>
			<div id="secundario" class="ms-4">
				
					<form method="post" enctype="multipart/form-data" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)" >

						<p>
							<input type="file" name="ruta" class ="rounded border border-1  my-1 form-control"(change)="fileChangeEvent($event)" required/>	
							
						</p>
					
						<input type="submit" value="Subir" class="btn-dark rounded boder boder-1  mb-5" [disabled]="!projectForm.form.valid"/>

					</form>
			</div>
		</div>
	
</section>


