<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent mt-2">
	  <div class="container">
	    <a class="navbar-brand fs-1 ms-3 fw-bold fst-italic" href="/">JES</a>

	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	     </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
			      <li class="nav-item fs-5"><a class="nav-link" [routerLink]="['/about']">About</a></li>    
			     <li class="nav-item fs-5"><a class="nav-link" [routerLink]="['/proyects']">Archivos</a></li>
				 <li class="nav-item fs-5"><a class="nav-link" [routerLink]="['/create']">Subir Archivo</a></li>		
		      </ul>
		      <ul class="navbar-nav ms-auto">


		      	<li class="nav-item fs-5"><a class="nav-link"  [routerLink]="['/login']">Sign in</a></li>
		      	<li class="nav-item fs-5"><a class="nav-link" [routerLink]="['/register']">Sign up</a></li>
				
		      
		      </ul>
		    </div>
	  	</div>
	</nav>
</header>

<section id="content">
	<hr id="linea" class="mb-5">
	<router-outlet></router-outlet>
</section>

<footer class="mt-5" >
	<div class="container">
	<p class="pt-5">
		Practica en Angular &copy;
	</p>
	</div>
	
</footer>
